[2016-09-27 17:41] rickr opened #4 "Rename db/carpool_db_schema.txt to db/carpool_db_schema.sql"

[2016-09-28 13:46] #4 closed

[2016-10-03 22:59] misteranderson opened #9 "Log IP Address from request, and not from a form field."
Should log client's IP Address, rather than some form field. (So that we know where it came in form).

http://stackoverflow.com/questions/19266329/node-js-get-clients-ip

[2016-10-06 00:54] jkbits1 commented on #9
Ok, will make this change

[2016-10-06 17:42] misteranderson opened #14 "Can we version the API (such that we could have two versions potentially in use at the same time?)"
Something like:

https://api.carpoolvote.com/v1.0/drivers/
https://api.carpoolvote.com/v1.1/drivers/

https://api.carpoolvote.com/v1.0/riders/
https://api.carpoolvote.com/v1.1/riders/

https://api.carpoolvote.com/v1.0/helpers/
https://api.carpoolvote.com/v1.1/helpers/

https://api.carpoolvote.com/v2.0/zipcodelookup/

I suspect this would be multiple versions of the node app, running concurrently,

[2016-10-06 17:42] misteranderson opened #15 "Add a route for Helpers"
Allow the submission of Helper data.

[2016-10-06 17:44] misteranderson opened #16 "Have node app handle the _redirect if provided by redirecting the browser to the destination page."
var redirTo = payload._redirect;

          [ insert the data]

       // redirect the browser to the URL specified in the "Redirect" form variable.
        reply.redirect(redirTo);

[2016-10-07 06:11] jkbits1 commented on #15
Resolved by
https://github.com/voteamerica/backend/pull/18

[2016-10-07 11:06] #9 closed

[2016-10-07 21:58] dmilet commented on #14
Do you think we'd need corresponding versions of the stage tables?

[2016-10-08 06:55] dmilet commented on #15
Implemented indeed

[2016-10-08 06:55] #15 closed

[2016-10-08 12:48] dmilet opened #21 "stage rider table should store complete destination address"
On the rider form, there would be a polling station address finder.
The complete destination address should be stored in the database

impacts node.js app and possibly sweeper app.

[2016-10-09 06:19] dmilet opened #23 "ip address logged in stage tables is always 127.0.0.1"
Is this because it's all proxied by nginx ?

[2016-10-10 14:22] dmilet opened #24 "node index.js should generate UUID outside of INSERT"
Need to generate UUID (v4) outside of INSERT, so we have it available to send notification back to submitter.
https://blog.tompawlak.org/generate-unique-identifier-nodejs-javascript

I added UUID columns as
 UUID             | character varying(50)       | not null default gen_random_uuid()

However, the default value should not be used, unless we do bulk load of data

[2016-10-11 16:16] jkbits1 commented on #24
The referenced PR addresses this issue. If it resolves it completely, we can close this, or otherwise leave it open for further discussion

[2016-10-11 21:30] dmilet commented on #24
Hi, I saw index.js code earlier that seemed to work fine retrieving after insert, the uuid as assigned by the db
So maybe we don't need to generate the uuid outside of insert after all?
I don't know what's best, but somehow I feel it's more efficient to have the uuid generated by the app locally, because it would require a db call to retrieve the data after the insert is completed. Also, if insert

[2016-10-11 21:42] jkbits1 commented on #24
I definitely see your point of view. In this case, I'm quite positive about using the default UUID. The returning clause (as part of the insert) brings back the uuid as a part of a single action, so it's not an insert then a query. The db call is already synchronous so that the client knows if it succeeded, so the pattern is the same.

If the uuid is generated by Postgres, we don't have to concern

[2016-10-11 22:16] dmilet commented on #24
Issue can be closed

[2016-10-11 22:16] #24 closed

[2016-10-12 20:36] misteranderson opened #31 "Rider/Driver submissions from form fails if some non-required boxes are not checked."
For Example:

rider row insert failed: null value in column "TwoWayTripNeeded" violates not-null constraint.

What should happen:
The backend node app should check for existence / provide default (false/0) values for the data elements which are being inserted.

Those include:
DrivingOnBehalfOfOrganization (default false)
WheelchairCount (default 0)
NonWheelchairCount (default 0)
TwoWayTripNeeded (

[2016-10-12 20:46] jkbits1 commented on #31
@misteranderson are we sure these defaults are valid? That's part of the reason I don't sanitise data received from the client.
How is it possible for the client not to send these values? I'm concerned about the situation where driver/rider enters details and these are not sent, and the defaults are incorrect.
A failure is inconvenient, but better than a result that reports success but is in reali

[2016-10-12 21:07] misteranderson commented on #31
Well, the results don't actually get inserted into the staging table (so we're not reporting success and storing incorrect values), but the error message is not helpful to the user - if they don't need a two-way ride, and therefore haven't checked the box,, then the form isn't sending that field.

[2016-10-12 23:21] dmilet commented on #31
there were some xhtml syntax errors that caused the form to not submit some fields especially some checkboxes. If this is still happening, it may be because old code was re-introduced with the same bug.
In short, always close the xml tags <input ... />  and the value=xxx should not be present.

The form normally always sends true/false value for all checkboxes, whether checked or not

[2016-10-13 05:05] jkbits1 commented on #31
It doesn't seem to be the xhtml this time.
If it isn't resolved by the front-end team I'll apply defaults in the node app for short term purposes

[2016-10-13 10:47] dmilet commented on #31
Just put in a PR to fix this issue.

[2016-10-13 23:29] dmilet opened #35 "index.js - Store RiderAccommodationNotes from form into DB"
Form now seems to send RiderAccommodationNotes (or at least it is there on the rider form)

We can now add code to index.js to store its value in DB

RiderAccommodationNotes     | character varying(1000)     |                                               | extended |              |

[2016-10-13 23:33] dmilet opened #36 "index.js - store driver license number"
I see that the driver form now has field for Driver License Number

index.js should now be able to insert it too

Here is the corresponding field in the DB
DriverLicenseNumber              | character varying(50)       |

And VehicleRegistrationNumber is gone now I think, can be removed from index.js

[2016-10-14 02:40] #35 closed

[2016-10-14 02:56] jkbits1 commented on #36
left deletion of vehicle reg num until after demo

[2016-10-14 05:51] jkbits1 commented on #16
resolved by merged PR

[2016-10-14 05:51] #16 closed

[2016-10-15 14:33] dmilet commented on #31
I think we can close this issue now

[2016-10-15 14:36] dmilet commented on #14
We have it in place now, though I have been manually updating v1.1 for the demo, as well as v2.0. Version selection requires changing code in index.html, but at least it's working

[2016-10-15 14:40] dmilet opened #43 "Index.js to implement GET API for geo map data"
Goal is to map unmatched riders

The first phase would be a simple descriptive map of current unmatched driver / rider locations so a simple table would be fine of lat, long, zip, and count, example here: https://github.com/voteamerica/voteamerica.github.io/tree/master/carpool-map/data

I'll provide a view stage.vw_unmatched_riders with the information collected from websumbission_rider and zip_co

[2016-10-15 14:43] dmilet opened #44 "Dns setup for mailgun"
Need DNS setup for mailgun to register carpoolvote.com domain

[2016-10-15 18:34] jkbits1 commented on #31
agreed

[2016-10-15 18:34] #31 closed

[2016-10-15 18:35] jkbits1 commented on #43
will take a look at this

[2016-10-15 18:50] jkbits1 commented on #14
that seems a perfectly reasonable solution

[2016-10-15 20:12] sasjkia commented on #44
@dmilet i've changed the password again. hopefully will work this time?

[2016-10-16 00:53] dmilet commented on #44
carpoolvote.com is registered on mailgun
Closing the issue now

[2016-10-16 00:53] #44 closed

[2016-10-16 01:01] dmilet commented on #43
Here is the view, created on carpool.dev for now.
Let me know if it matched what we need

[carpool_web@CentOS72 nodeAppPostPg]$ psql -h /tmp carpool.dev
psql (9.5.4)
Type "help" for help.

carpool.dev=> select * from stage.vw_unmatched_riders;
 count |  zip  | state |  latitude  | longitude  |    city     | full_state | latitude_numeric | longitude_numeric |               latlong
-------+-------+-

[2016-10-18 03:09] jkbits1 commented on #43
addressed by https://github.com/voteamerica/backend/pull/46

requires review, no data at time of coding

[2016-10-19 14:46] jkbits1 commented on #43
see this for guidance/example on using API https://github.com/voteamerica/backend/pull/48

[2016-10-21 10:50] dmilet commented on #43
I believe this issue can be closed.

[2016-10-21 10:50] #43 closed

[2016-10-21 10:51] dmilet commented on #36
VehicleRegistrationNumber  is removed from 2.0 schema

[2016-10-21 10:51] #36 closed

[2016-10-21 10:51] dmilet commented on #14
no need to keep this open

[2016-10-21 10:51] #14 closed

[2016-10-22 16:08] dmilet opened #52 "Incomplete nov2016.zip_codes table"
There are only 33k zip codes out of approx 43k.
Need to find more comprehensive source

[2016-10-22 16:38] dmilet opened #54 "Fix formatting of e-mail bodies"
use some html

[2016-10-22 23:56] dmilet opened #55 "unmatched drivers json has duplicate lat/lon information"
[{"count":"1","zip":"20111","state":"VA","latitude":" 38.769697","longitude":" -77.44915","city":"Manassas","full_state":"Virginia","latitude_numeric":38.7697,"longitude_numeric":-77.4492,"latlong":{"x":38.7696952819824,"y":-77.4491500854492}}]

[2016-10-23 00:00] langdonms commented on #55
We only need one, I would opt for the numeric and we can always reconvert it to a string it if we need to.

[2016-10-23 13:53] dmilet opened #58 "What do we do against SQL injection?"
We have a few text fields, which will be displayed in the self-service page, and email.
Also the same text fields are used in APIs to manage the ride requests/driver offers.

What should we do against SQL injection ?

[2016-10-23 14:56] dmilet opened #59 "Service API URLs don't work when e-mail address is used"
https://api.carpoolvote.com/test/accept-driver-match?UUID_driver=789132be-8c45-4173-a547-69d2417f0f97&UUID_rider=ef7bb862-c2f4-4c7b-9797-1fd91539c088&Score=600&DriverEmail=david.milet@gmail.com

It seem unable to match if e-mail address is used, no problem is phone number is used.

Is it a problem in node app, or URL encoding ?

How should I write links that I include in notification e-mails.

[2016-10-23 14:56] dmilet commented on #59
@jkbits1 Jon, I need your help with this. Any idea ?

[2016-10-23 15:01] misteranderson commented on #58
We (are/should be) using parameterized SQL queries (?,?,?) rather than composing the SQL based on unsanitized input. Certainly a review of all SQL statements is in order to be sure.

[2016-10-23 15:27] misteranderson commented on #52
So, just to give some context, there are approx. 9K "PO BOX" zip codes.  The initial load of data didn't appear to contain those values.  Additionally, it was admittedly an older dataset., so there may be some newer "Standard" ZIP Cods which were added after the dataset was compiled.  We have purchased a copy of recent data from a supplier, and I'll be loading that data into the existing table to

[2016-10-23 15:29] dmilet commented on #52
@misteranderson if you could  load it on carpool_v2.0_live and carpool_v2,0_test that would be great!
I'll get a dump from one of them to include in the fresh db creation script.

[2016-10-23 21:57] misteranderson commented on #58
Are you really talking about SQL Injection (having the database do something the attacker wants/we didn't intend), or cross-site scripting / injecting javascript or other browser scripting into the fields which are displayed when we get the values out of the database?

[2016-10-23 23:19] dmilet commented on #59
Not an issue, I was not using the API correctly

[2016-10-23 23:19] #59 closed

[2016-10-23 23:26] dmilet commented on #58
Well for cancel and confirm operations, we verify that the uuid matches with the last name of the person. The node app calls a function in the database which does equality comparison in pl/pgsql. I wonder if someone would be able to bypass that check on last name and potentially cancel any uuid.

The 2nd concern indeed is cross site scripting because we have that Notes field which we display back

[2016-10-23 23:53] dmilet commented on #52
What is the plan for the missing latitude/longitude coordinates for the 10,050 zip  codes that were added ?
Now the zip code can be found (so the user records don't get marked as Failed anymore), but the distances calculated with nov2016.distance() will be NULL, meaning they will never be included in any match. This is more insidious, because the system would appear to work properly, instead of id

[2016-10-24 00:35] jkbits1 commented on #58
@dmilet for your first point, I generally feel confident when the sql is in a function that it's harder to get it to behave incorrectly. Still, the text does not get checked that much currently before the function goes to work on it

[2016-10-24 00:42] jkbits1 commented on #55
if this refers to the returned values from the api, the node app simply returns the rows from the relevant db view

[2016-10-24 00:48] misteranderson commented on #52
My thought is to use the Google geocoding API to geocode the remaining ZIPs programmatically; There could be a couple of approaches - geocode on demand (if we don't know the info, then look it up and store it back into the DB) - or batch geocode, for a few dollars (exceeding the free API threshold), I can have enough requests to get the remaining ZIPs filled in probably later tonight.

[2016-10-24 01:14] misteranderson commented on #52
Turns out, I was able to fix it by just falling back (for now) to the slightly less precise value supplied in the data feed, but I had done my coalesce() wrong on the inintial insert - the data was '' instead of NULL.
Fixing with

UPDATE nov2016.zip_codes
SET
 latitude  = CAST(  COALESCE(NULLIF(precise_latitude  ,''),src.latitude)  AS character varying(10))
,longitude = CAST(  COALESCE(NULLIF(prec

[2016-10-24 01:35] misteranderson commented on #52
Please let me know if this is now resolved.

At the same time, in the test db, I brought in the TimeZone as well..

carpool_v2.0_test=# alter table nov2016.zip_codes add column timezone character varying(50) null default '';
ALTER TABLE
carpool_v2.0_test=# UPDATE nov2016.zip_codes
carpool_v2.0_test-# SET
carpool_v2.0_test-# timezone = src.timezone from
carpool_v2.0_test-# import.zip_code_database_

[2016-10-24 03:08] misteranderson commented on #23
https://www.digitalocean.com/community/tutorials/understanding-nginx-http-proxying-load-balancing-buffering-and-caching seems to be a useful resource for this.

[2016-10-24 06:32] dmilet commented on #55
Removed extra information from the view
@langdonms please close this issue if it works for you.

[{"count":"1","zip":"28633","state":"NC","city":"Lenoir","full_state":"NC","latitude_numeric":35.9,"longitude_numeric":-81.53},{"count":"1","zip":"60010","state":"IL","city":"Barrington","full_state":"Illinois","latitude_numeric":42.142,"longitude_numeric":-88.1773}]

[2016-10-24 06:34] dmilet commented on #52
Looks good to me.

[2016-10-24 06:34] #52 closed

[2016-10-24 11:18] dmilet commented on #54
@sasjkia That should be OK now. Can you please ask whoever is available to help with the testing?

[2016-10-24 11:20] sasjkia commented on #54
Will do.

[2016-10-24 11:21] dmilet opened #62 "Pause Match Driver feature"
@jkbits1 See new USER STORY 016
I'll have the procedure ready soon.
And I need to update a few e-mail notifications to include the new link

[2016-10-24 12:42] dmilet commented on #62
New procedure is in carpool_v2.0_test and carpool_v2.0_live databases

[2016-10-25 02:13] jkbits1 opened #67 "invalid outgoing_sms table entry for proposed match"
outgoing_sms table does not contain any text in the body field for a proposed match

[2016-10-25 02:16] dmilet commented on #67
yes, it's right, it remains to be implemented

[2016-10-26 00:57] dmilet opened #71 "zip code 20021 is no in zip_codes table"
to be investigated.
A rider record on live environment failed because of this

[2016-10-26 01:01] dmilet commented on #71
This is a Washington, DC zip code.

[2016-10-26 01:02] dmilet commented on #71
@misteranderson do you want to take a look at this ?
We could add it manually to the database, then change the state of the record to "Pending"

[2016-10-26 02:04] dmilet opened #72 "user action link return json object when clicked from an e-mail"
For example, for accepting a match,
@jkbits1  Is there a way to return a plain string maybe to confirm success. Right now, it only returns the name of the action and an empty string.
It works, but it does not look nice.

[2016-10-26 02:40] misteranderson commented on #71
I will take a look.

[2016-10-26 03:32] misteranderson commented on #71
I do not see the data about this zip code in the source file. I have a hard time locating information about this zip code in google searches. Are we sure it is a valid ZIP code (and do we have an address we can use for looking up more info, to try and get a good lat/long for it?

In fact, entering Washington DC, 20021 into the USPS ZIP code lookup tool gives 20020 and 20022 (among many others) but

[2016-10-26 03:36] misteranderson commented on #71
![2016-10-25 22_33_24-start](https://cloud.githubusercontent.com/assets/1386657/19712433/6c13951e-9b03-11e6-9ce9-55e606184fd0.png)

[2016-10-26 04:05] dmilet commented on #71
Weird...
http://www.phe.gov/Preparedness/planning/cip/Documents/hph-joint-mtg-logistics20150305.pdf
https://www.noodle.com/schools/ktQk9Q/kipp-dc-heights-academy-public-charter-school

[2016-10-26 11:03] dmilet commented on #71
no action to take for this particular driver, it was just a test
carpool_v2.0_live=> select "UUID", state, "RiderAccommodationNotes" from stage.websubmission_rider where state='Failed';
                 UUID                 | state  |                                      RiderAccommodationNotes
--------------------------------------+--------+--------------------------------------------------------

[2016-10-26 11:03] #71 closed

[2016-10-26 14:16] jkbits1 commented on #72
@dmilet both email and self service page use the same mechanism, so they have to line up

the empty string is return by the db function. why not put a success message there? I show it on the self service page

[2016-10-26 15:04] jkbits1 commented on #62
@dmilet is this is supported now by the db? it is built into the node app and the self service page. if so, we can close this issue

[2016-10-26 22:56] dmilet commented on #54
Merged already

[2016-10-26 22:56] #54 closed

[2016-10-26 22:57] dmilet commented on #55
Merged already. Issue is fixed

[2016-10-26 22:57] #55 closed

[2016-10-26 22:58] dmilet opened #73 "After POST , redirect URL to use uuid_driver and uuid_rider as needed"
I think it needs a change in the node app

[2016-10-26 23:53] dmilet opened #74 "email sender incorrectly handles failures from mailgun api"
recipient address was invalid, record in outgoing_email should have been marked as failed. did not happen

[2016-10-27 00:02] jkbits1 commented on #73
what's the context of this issue? the redirect urls are provided by client

[2016-10-27 00:40] misteranderson commented on #23
We should be able to close this - there are non-localhost IP addresses in the staging tables now.

[2016-10-27 00:45] misteranderson commented on #73
The client does need an update, the current version has the _redirect variable reversed, so riders are sent to the thanks-driver page, and drivers as sent to the thanks-rider page.  Will open an issue on the other repo.

[2016-10-27 00:55] jkbits1 commented on #73
@dmilet @misteranderson just looking at the code, I see that I do add the uuid on the end of the redirect. At the moment the node app adds `"?uuid="` plus the value itself. It would be easiest, and keep the code simple, if the node app only had to add the value. I can change and test the front-end if necessary to ensure everything lines up

[2016-10-27 00:58] jkbits1 commented on #23
thanks @misteranderson

[2016-10-27 00:58] #23 closed

[2016-10-27 09:46] richardwestenra commented on #73
@jkbits1 @dmilet @misteranderson  I mentioned this [elsewhere](https://github.com/voteamerica/voteamerica.github.io/issues/185#issuecomment-256594374), but on reflection, seeing as we're already using the UUID key, I'd recommend simply adding a `type` key and setting it to either `driver` or `rider` (e.g. http://carpoolvote.com/thanks-driver/?uuid=b409c43a-b581-4a5c-831d-339c1783c8a9&type=rider).

[2016-10-27 09:51] richardwestenra opened #75 "Add a user-friendly message to the cancellation page"
I clicked the cancellation button in the email, and was directed to this page: https://api.carpoolvote.com/test/cancel-ride-request?UUID=b409c43a-b581-4a5c-831d-339c1783c8a9&RiderPhone=Westenra

Which just displayed the following text, completely unformatted: `{"rider_cancel_ride_request":""}`

Can we display something a little more user-friendly? At **minimum**, an `<h1>` saying something like "Y

[2016-10-27 13:40] jkbits1 commented on #75
@richardwestenra good points. I comment later about what we can do here

[2016-10-27 15:37] jkbits1 commented on #73
@richardwestenra I'm short on time to review this closely but that sounds valid. at the moment, the node app takes the redirect string and adds the uuid number to it. so if you send the link you suggest but change the order of the params i.e. http://carpoolvote.com/thanks-driver/?type=rider&uuid=b409c43a-b581-4a5c-831d-339c1783c8a9 then that will work as the system is now, and we don't need to cha

[2016-10-27 15:42] richardwestenra commented on #73
@jkbits1 Nice, good call :) Thanks!

[2016-10-27 15:45] jkbits1 commented on #75
@richardwestenra @dmilet  at the moment, the node app is returning the value from the db function that handles the request. I believe that an empty string is a success message.

this part of the node app is used in a few places that I'm aware of, the email/sms links and the self-service page. The self service page takes the response and displays it in a status field. if we change the behaviour, al

[2016-11-05 10:54] #74 closed

[2016-11-05 10:59] dmilet opened #85 "Limit out of radius proposed matches"
Current algorithm proposed matches up to 100 miles away from  the driver zip code, even outside of radius (but with a reduced score).
Based on user feedback, 100 miles seems to far away (indeed....)

The 100 miles tolerance is changes to 20 miles, based on the fact that some drivers have indicated that they are willing to drive a little bit out of their way, and the fact that our distance calculat

[2016-11-05 11:10] dmilet commented on #85
Tested successfully with :

Driver : 20105, 15 miles

20111 - 20105 : 15.8 miles - proposed
20112 - 20105 : 20.2 miles - proposed
20115 - 20105 : 21.3 miles - proposed
22401 - 20105 : 44.1 miles - not proposed (> 15 + 20)

[2016-11-07 16:53] richardwestenra commented on #75
@sasjkia has requested that we prioritise this issue. She's posted some details here: https://github.com/voteamerica/voteamerica.github.io/issues/228

Any chance that we could shift this a little? @jkbits1 @dmilet

[2016-11-07 17:12] misteranderson commented on #75
Instead of linking the user to that page/node endpoint directly, can we have a page that has JavaScript to make the request with jQuery / Ajax and returns a friendly message to the user?

[2016-11-07 17:13] misteranderson commented on #75
So, I guess, thinking in this static site way, send the user to /self-service/cancel-offer/?uuid=foo

[2016-11-07 17:14] misteranderson commented on #75
Or whatever pages would be required for each cancellation / pause use case.

[2016-11-07 19:20] richardwestenra commented on #75
@misteranderson That's a very good suggestion. I'd be tempted to just make it part of the self-service page, and listen for the `cancel-offer` query string key.

[2016-11-08 12:08] dmilet opened #89 "To Investigate why the counts don't add up"
I can't explain why we have 207 matches in state MatchConfirmed, but only 57 riders in that state.
Normally, there is one match per rider at most

Report run on Tue Nov  8 12:00:01 UTC 2016
carpool_v2.0_live
DRIVERS
 count |     state
-------+----------------
   250 | Canceled
   935 | Pending
   448 | MatchProposed
   138 | MatchConfirmed
   613 | Expired
    33 | Failed
(6 rows)

RIDERS
 count |

[2016-11-08 13:01] sasjkia commented on #89
@dmilet this is because there have been multiple notifications for the same drivers

[2016-11-08 21:51] jkbits1 commented on #89
@dmilet @sasjkia I've created a couple of db queries to turn this data into actual users. Let me know if it's helpful for you to know more about these

[2017-04-12 14:06] dmilet commented on #67
Obsolete

[2017-04-12 14:06] #67 closed

[2017-04-12 14:07] dmilet commented on #62
carpoolvote.driver_pause_match(UUID, phone number or lastname ?, OUT out_error_code INTEGER, OUT out_error_text TEXT)

Closing issue

[2017-04-12 14:07] #62 closed

[2017-04-12 14:08] dmilet commented on #21
Obsolete, the form now has a pick up address and a drop off address field

[2017-04-12 14:08] #21 closed

[2017-04-12 14:11] dmilet commented on #85
already fixed

[2017-04-12 14:11] #85 closed

[2017-04-22 01:38] jkbits1 opened #103 "Add rider needs to redirect browser"
see https://github.com/voteamerica/voteamerica.github.io/issues/257 for details

[2017-04-27 03:43] sasjkia opened #105 "Send rider contact details to driver only AFTER a match has been confirmed"
Driver currently receives contact details for all proposed riders. Instead, they should only receive these details once they have confirmed the match. The street/apartment number should also be separated from the street name (issue #254 on the front end), so it can be sent along with the rest of the contact details.

This is for data protection and safety reasons. The driver can always cancel a ma

[2017-04-27 04:04] sasjkia opened #106 "In test environment, it is not possible to log into the self-service portal"
Entering the phone number and clicking the login button doesn't result in any change on the page

[2017-04-27 04:06] sasjkia opened #107 "Forms not redirecting to confirmation page after signup"
- [ ] Rider and driver signups no longer redirects to confirmation page after submission. Shows blank page with UUID instead.

- [ ] Ditto for confirmation page when driver has confirmed a match, rider has cancelled a match, etc

[2017-04-27 04:08] sasjkia commented on #107
Not sure if this is a frontend or back

[2017-04-27 04:11] sasjkia opened #108 "Rider does not currently receive a notification if a driver cancels a match"
The driver receives a notification when the rider cancels but the rider doesn't receive one when the driver cancels.

They may end up waiting and not take action to find alternative transport. Let me know if you need copy for this!

[2017-04-27 15:12] dmilet commented on #105
hmm. How is the driver supposed to contact a proposed rider to confirm if the information is correct, prior to accepting.
Should drivers accept matches before confirming the details with the rider ?

[2017-04-27 16:17] dmilet commented on #108
@sasjkia Please verify and close. Fix is deployed

[2017-04-27 18:50] sasjkia commented on #105
@dmilet I understand your concern but the good thing is that the ride cancellation feature works well and I've tested several times to ensure that the rider can go back into the pool and get matched again. So now it's a case of ensuring the UX makes the process clear.

We need to avoid sending out the full address and contact details of potentially vulnerable people to a whole pool of drivers. At

[2017-04-27 21:35] dmilet commented on #105
Do I remove
- address
- phone number
- email address

Anything else?
Please confirm
Thanks

[2017-04-27 21:38] dmilet commented on #107
I think it's related to how the test page is deployed.
There is no redirect issue on live site, or on a local test site

[2017-04-27 23:45] sasjkia commented on #105
Keep address but remove street number. Does this require it be a separate entry field on the front end?

Remove rest pls.

[2017-04-27 23:48] sasjkia commented on #107
Alas -I'm also having trouble with the live site

[2017-04-28 00:29] sasjkia opened #110 "Rider and Driver self-service won't allow login"
Error message:

"No Ride Request found for those parameters"
"No Drive Offer found for those parameters"

[2017-04-28 01:41] dmilet commented on #105
Yes we don't currently  separate street name and number
I'll remove the entire address for new

[2017-04-28 03:00] sasjkia commented on #105
Best to pause on removing the address; there's a frontend PR pending that will separate the street number from the name

[2017-04-28 06:03] dmilet commented on #105
Not sure how it's going to be implemented. I never had to split house number and street name on any form I had to fill in. Do we really want to ask our users to do that?

[2017-04-28 22:33] dmilet commented on #72
@jkbits1 @sasjkia I think the links in email notification should redirect to the self service page, not perform action directly
It's too easy on a smartphone to accidentally click on a clink
We had issues last year where matches were canceled, and the user claimed they don't recall canceling them
We should focus on improving the self service page as central place for the user to jntrleract with ou

[2017-04-28 23:53] sasjkia commented on #72
@dmilet This was resolved when we removed the links from text messages. I don't want to add an extra barrier to accepting matches. I think it's better for the links to stay for now. We can review after the primaries. Is there a way for people to confirm matches by responding to an email with a "yes"?

[2017-04-28 23:54] sasjkia commented on #72
But you're right that we need to improve the UX of the confirmation messages.

[2017-04-29 00:00] sasjkia commented on #105
@dmilet it's not too uncommon to have multiple address lines. We can ask Tino, who has 10 years of US experience, for some suggestions.

Alternatively, is there a way to strip out any numbers in that field on the database side?

[2017-04-29 01:42] sasjkia opened #111 "Driver accepted match SMS notification doesn't include rider contact details"
Please add rider contact details to SMS notification that the driver receives after confirming a match. We do not want to risk them forgetting to get in touch with the rider.

Please also do the same the other way around. I.e., send the rider the driver's contact details (in case there's an issue with the driver getting in touch).

[2017-04-29 01:43] dmilet commented on #105
See the usual format for addresses
http://www.bitboost.com/ref/international-address-formats/united_states/

I have never seen a web site that asks to split house number from street name, they're always on the same line

[2017-04-29 01:51] sasjkia commented on #105
Are you able to hide numbers from the database side?

If not, my consideration is rider safety above all here; I think there are UX solutions to avoid confusion/form abandonment.

[2017-04-29 02:02] dmilet commented on #105
I think it's too complicated to hide the numbers from the back end
5th avenue
becomes
5 avenue

and god knows what else

If safety is your concern, let's just hide everything but the zip code

[2017-04-29 02:04] sasjkia commented on #105
I'd considered it but it seems that zip codes are quite big in places

[2017-04-29 02:07] sasjkia opened #112 "Change "Cancel drive offer" link to "Pause notifications" link in driver notifications and self-service portal"
This way, the driver won't be disturbed by notifications but can still log into the self-service portal if they like. This also means that existing ride offers wont' be canceled (these should be canceled individually).

In the self-service portal, add a link that allows drivers to reactivate notifications.

[2017-04-29 02:08] dmilet commented on #105
so the process is:
1. driver accepts proposed match, based on zip code (remember we calculate distances based on zip codes only, that is a very rough estimation of the distances anyway)
2. driver gets full contact info
3. driver calls/emails rider to confirm in person
4. driver may decide to cancel the match if too far not not suitable

[2017-05-01 19:46] jkbits1 commented on #107
@sasjkia thanks for info - this duplicates https://github.com/voteamerica/backend/issues/103 but provides extra useful info 👍

[2017-05-05 02:22] sasjkia opened #117 "Add license driver license plate number to rider match confirmations"
In the SMS and email notifications that the rider receives after a driver has confirmed a match, please add: "Please check the license plate number before getting in: xxxxxxxxx"

This is a safety feature, so the rider know they're getting in the right vehicle.

[2017-05-05 02:34] sasjkia opened #118 "Add ride details to proposed match SMS"
Proposed match SMS notifications going to the driver does not currently contain the details of the ride. We'd like to driver to have an idea of whether the ride could work, before they log in (especially if they've already set up a few rides), so that unnecessary logins don't become a burden.

Please include in the proposed match notifications:
1. Dates and am/pm
2. Start and end zip
3. Power chai

[2017-05-06 09:42] dmilet commented on #72
I like the way it's done for the new submissions (with thank you page)
Maybe user actions to manage matches need to be redirected to a results page?
Right now the self-service page displays the results within the same page, which is typically something like (0,"","") in case of success.
When the "Accept" link is clicked from an e-mail, the user's browser will display the same thing on a blank page

[2017-05-06 09:44] dmilet commented on #58
Let's close this one.
We don't need to do anything about it

[2017-05-06 09:44] #58 closed

[2017-05-06 09:48] dmilet commented on #73
This issue is fixed on the new system

[2017-05-06 09:48] #73 closed

[2017-05-06 09:50] dmilet commented on #75
@richardwestenra @jkbits1 @sasjkia this is a duplicate of issue #72
Can we close this one ?

[2017-05-06 09:54] dmilet commented on #110
@sasjkia @jkbits1 I believe this works. Can you please confirm and close?

[2017-05-06 09:56] dmilet commented on #118
@sasjkia "Special accommodation notes " is potentially a large field. Are you sure you want it in the SMS ?

[2017-05-06 10:01] dmilet commented on #118
And also, the corresponding e-mail going to the driver includes potentially multiple proposed matches.
I don't think we should overload the SMS.
That's why the SMS with match updates contains only a link to the self-service page.
Remember that only the self-service page reflects real time information.

[2017-05-06 10:03] dmilet commented on #117
OK I'll work on it

[2017-05-06 10:22] dmilet commented on #106
@sasjkia it works for me.
this is the self-service page I'm using
http://richardwestenra.com/voteamerica.github.io/self-service/

I probably should update the notifications to use different self-service URLs for live and test service

[2017-05-06 20:20] jkbits1 commented on #106
@sasjkia @dmilet this is due to https://github.com/voteamerica/voteamerica.github.io/issues/273 and will be fixed when https://github.com/voteamerica/voteamerica.github.io/pull/274 is merged

[2017-05-06 20:57] jkbits1 commented on #110
@sasjkia @dmilet see my comment in https://github.com/voteamerica/backend/issues/106#issuecomment-299663638

[2017-05-07 14:33] dmilet opened #123 "rider request not properly canceled"
[carpool_app@carpoolvote1 db]$ ./show_rider_by_uuid.sh 54aa2a0e-ba6c-4711-8266-9757ca30dff4
carpool_live
Rider Details
                 uuid                 | RiderLastName | RiderPhone |      RiderEmail       | status  | status_info |         created_ts         |      last_updated_ts       | RiderCollectionZIP | RiderDropOffZIP | TotalPartySize | RiderIsVulnerable | NeedWheelchair | convert_datet

[2017-05-07 22:39] sasjkia commented on #118
@dmilet it is unlikely that the driver will log into the self-service page if they do not have an indication of whether it's worth their while. I guess we could leave accommodation notes for now but dates, times, and locations are a bare necessity.

[2017-05-07 22:44] sasjkia commented on #106
@dmilet when i click on the link on the confirmation page, and the links in the notifications, i'm redirected to the live site, which is why it doesn't work.

[2017-05-07 23:04] dmilet commented on #106
@sasjkia
confirmation page: this needs merge on the front end and deployment on the test site. Not sure when Jon or Richard are planning to merge that one.
notfications : can you please forward an example of such email? it is recent ?

[2017-05-07 23:55] sasjkia commented on #106
@dmilet notifications are fine now :)

[2017-05-08 00:19] dmilet commented on #118
@sasjkia can you please check this SMS match notification going to the driver now?  I made a few changes,  but I can't test from here. Live environment.

[2017-05-08 00:56] sasjkia commented on #118
@dmilet  it works on live site - thank you!

We'll need to work on formatting. of course.

[2017-05-08 00:58] sasjkia opened #124 "Ride request and drive offer SMS has cancel link"
I imagine this would result in some unintended actions (I thought we'd removed these?)

Please could we remove the cancellation link from both ride request and drive offer notification text messages?

[2017-05-08 01:08] dmilet commented on #124
@sasjkia removed those links. Applied to live environment

[2017-05-08 11:04] richardwestenra commented on #106
@sasjkia @jkbits1 This issue should be fixed now that https://github.com/voteamerica/voteamerica.github.io/pull/274 has been merged.

[2017-05-08 11:05] richardwestenra commented on #110
@sasjkia @jkbits1 This issue should be fixed now that https://github.com/voteamerica/voteamerica.github.io/pull/274 has been merged. @sasjkia Can you please confirm?

[2017-05-08 15:01] dmilet commented on #118
Let's bear in mind that SMS are plain text, and newline characters can be interpreted differently depending on carriers. It make any kind of formatting very difficult.

[2017-05-10 04:48] sasjkia opened #128 "Allow drivers and riders to amend any of the ride or personal details in the self-service portal"
On top-right of the main landing page in the self-service portal, include a button linking to “Modify details” page. On this page, include all of the information as recorded on the signup form. Allow modification of any of these details (except T&Cs).

Require user to click “Submit” button to save changes.
Prompt user to “Submit” or “Cancel” details if they try to leave after making changes withou

[2017-05-10 04:51] sasjkia opened #129 "In self-service portal, allow drivers and to add notes next to add notes next to confirmed matches"
Next to each confirmed match in the self-service portal (for drivers and riders), add a box that lets drivers/riders record notes for themselves.

This is especially useful for drivers, to keep track if they're arranging multiple rides.

[2017-05-10 05:03] sasjkia opened #130 "Driver self-service portal perfect match says "Score: 0""
Unclear what this means, so probably also confusing for the driver

[2017-05-10 05:07] sasjkia opened #131 "Specify rider preferred contact method in driver notification SMS"
Current SMS contains contact details but doesn't make it clear to driver which one is preferred.

Simply add (preferred) after the preferred contact method.

[2017-05-10 12:33] dmilet commented on #130
Yes this needs to be cleanup up and removed from self service pages

[2017-05-10 12:42] sasjkia commented on #130
Are we still doing the think where the Score 4 match shows up in the self-service portal but not notifications?

[2017-05-10 14:02] dmilet commented on #130
We can
It's not done at the moment
The "Score" doesn't have any real external meaning any more. Better remove it everywhere.

The match status attribute carries the right information
MatchProposed goes to notifications
ExtendedMatch could be included in self service page

[2017-05-11 00:07] sasjkia opened #132 "Remove driver zip and radius from rider match confirmation SMS"
The available times are useful to the rider but the assumption will be that they are within the radius (and they may find it confusing if they are a little out).

[2017-05-11 00:16] sasjkia opened #133 "Add Carpool Vote phone number to all rider SMS notifications"
We'd like riders to be able to access the self-service portal even if they are not online. This would have to be done via an operator on the phone line.

Please add:
User support: 804-239-3389

[2017-05-11 11:46] #124 closed

[2017-05-11 11:48] #105 closed

[2017-05-11 13:08] dmilet commented on #123
fixed by earlier merge

[2017-05-11 13:08] #123 closed

[2017-05-11 13:13] dmilet commented on #132
radius never goes to the rider notifications, can you please confirm what you got ?

[2017-05-11 13:37] dmilet commented on #133
@sasjkia Please verify

[2017-05-11 13:38] dmilet commented on #131
@sasjkia Please verify now

[2017-05-11 13:38] dmilet commented on #117
@sasjkia Please verify now

[2017-05-11 13:39] dmilet commented on #111
@sasjkia Please verify now

[2017-05-12 00:20] dmilet commented on #130
@jkbits1 will you be able to remove references to "score" values in self-service page?

[2017-05-12 00:49] dmilet commented on #129
working on the db side of it, will post back later

[2017-05-13 00:16] sasjkia commented on #111
@dmilet all information appears as needed - thanks!

[2017-05-13 00:16] sasjkia commented on #117
@dmilet - works great - thanks!

[2017-05-13 06:56] #117 closed

[2017-05-13 06:56] #111 closed

[2017-05-13 20:38] jkbits1 commented on #129
@sasjkia I'm just taking a look at this as you thought it is something that one of the new contributors can help with. Do you have any thoughts (or mock up) of how the UI will look and work for this? Currently, for each match there is a Cancel button. As well as a textbox, is the plan to add an Add Notes button for each match? That button will end up being reasonably close to the Cancel button, on

[2017-05-13 22:01] jkbits1 commented on #130
@dmilet one of our new contributors will be taking a look at this

[2017-05-14 21:46] sasjkia opened #137 "Confirming a match redirects to strange text"
This is the case for all ride management links in emails. Please change the text to the following:

- [ ] 1
#### Driver accepts match
We have let [rider name] know that you have accepted their request for a ride. [Rider name] is now waiting for you to get in touch to arrange the details of the ride.

Please contact the rider as soon as possible via **[preferred contact method]**.

We have sent you

[2017-05-14 21:48] sasjkia opened #138 "Simplify drivers and rider UUIDs"
These can be difficult to manage for people with cognitive difficulties

Is there something shorter/easier that can be assigned? Perhaps something to do with last name, initials, zip code etc?

[2017-05-14 21:55] sasjkia opened #139 "Add full ride request details to self-service portal suggested and confirmed matches"
Please:
- [ ] Available ride times
- [ ] Add "(preferred)" next to the preferred contact method; remove this from the line containing the accommodation notes
- [ ] Add power chair adapted vehicle needed, where this applies
- [ ] Add number of seats required
- [ ] Specify whether 2-way trip is needed

Also separate SMS and notes into 2 separate lines (currently they appear next to each other, and l

[2017-05-14 21:56] sasjkia opened #140 "Remove rider identifying details (name, contact details) from proposed matches in self-service portal"
This should only become visible once match has been accepted.

[2017-05-14 22:03] sasjkia commented on #129
@jkbits1 this is a very crude mockup created in my Open Office 🥇 Obvs colours, text, style should reflect Carpool Vote standard. But this is the general principle. I can try to get a UX person to do a proper mockup if needed. Let me know!

![image](https://cloud.githubusercontent.com/assets/19363959/26038137/62335934-38cf-11e7-948f-0b78bfb3ac08.png)

[2017-05-14 22:10] sasjkia opened #141 "Add driver's available drive times to rider confirmed match information in self-service portal, email and SMS notifications"
This is useful information for the rider as a starting point for a conversation with the driver.

[2017-05-14 22:11] sasjkia opened #142 "Removed ride details from match confirmation SMS sent to rider"
Delete the rider's address, ride times, and party size from the accepted match confirmation SMS received by the rider.

They don't need their own ride details.

[2017-05-14 22:30] sasjkia commented on #131
@dmilet this now works - thank you!

[2017-05-14 22:32] sasjkia commented on #133
@dmilet this now works - thank you.

[2017-05-14 22:40] sasjkia commented on #132
@dmilet can't see radius now but also can't see driver starting zip and available drive times (instead, the rider receives details of their own ride request in the SMS, which is unnecessary)

[2017-05-14 22:40] sasjkia commented on #132
BTW - Formatting is much improved!!! :)

[2017-05-15 11:45] #133 closed

[2017-05-15 11:48] dmilet commented on #137
Nope
Fix is quite involved. It probably needs a redirect to the self service page.

[2017-05-15 15:25] sasjkia commented on #137
@jkbits1 - maybe @russon77 can take this on?

We need the confirmation text to say something legible whenever someone manages a match through the emails (confirms, cancels etc). Underneath the explanatory text, there can be a self-service page login.

Someone needs to go through these and identify the actions that need this fix. I think it's all of them.

[2017-05-17 15:04] jkbits1 commented on #137
@sasjkia thanks for spotting this 👍  What system is this happening on (e.g. test or live) and what are the basic steps to reproduce, please? No need to spend ages on details, I don't think, just let me know the basic steps

[2017-05-18 13:03] sasjkia commented on #137
I clicked  "Accept" link in proposed match email.

[2017-05-18 16:41] jkbits1 commented on #137
Thanks, I'll take a look

[2017-05-20 17:34] sasjkia opened #144 "Rider SMS notification criteria needs to be modified"
**It appears that the rider SMS notification user story still reflects an old version of the user form.** Currently:
- Riders receive SMS notifications only if they have specified that they want to be contacted via SMS (the signup form text has been updated to specify that this is the preferred method of contact from the driver)

**The issues here are:**
- The SMS notification will still go out if

[2017-05-20 17:35] sasjkia commented on #144
@jkbits1 @dmilet @richardwestenra I think this one will take some coordination between frontend and backend.

[2017-05-20 18:07] sasjkia opened #145 "Change wording for notification SMS when rider cancels ride request"
Please change to text to the following:

Your ride request has been canceled. You will no longer be matched with a driver for the following dates/times: [includes dates and times only].
You can reactivate your ride request through the self-service portal [include link] or by calling/texting 540-656-9388

This issue is linked to backend [issue #282.](https://github.com/voteamerica/voteamerica.githu

[2017-05-20 19:01] sasjkia commented on #140
For data protection reasons, this is high priority. Thanks! :)

[2017-05-20 19:26] sasjkia opened #146 "Driver self-service portal doesn't update immediately when a driver accepts a match"
When a driver accepts a match, they receive a notification of the confirmed match.

However, the self-service portal doesn't update until they have logged out and logged back in again. This can get confusing for the driver, as it may not be clear to them whether or not they have actually confirmed the match.

When the driver confirms a match in the self-service portal, please create a fix so that

[2017-05-20 19:41] sasjkia opened #147 "Update SMS notification text for ride request received"
Different rules seem to apply for formatting different parts of the text message (underlining specifically). Wording can also be a little clearer in places. Please change to the following (**bold**=underlined):

Ride request received!
Preferred ride times: **mmm d, yyyy, hh:mmam/pm-hh:mmam/pm**; **mmm d, yyyy, hh:mmam/pm-hh:mmam/pm**
Pick up: **Address**
Destination: **Address**
Seats needed: **#*

[2017-05-20 19:50] sasjkia commented on #137
@jkbits1 this is also happening with all other email ride match actions. I'll document and add to this issue. :)

[2017-05-20 20:48] sasjkia opened #148 "Ride management links are not working in mobile version of email notifications"
When testing in Gmail app for iPhone 5, emails render fine but there are no visible/active links. This means it is not possible to manage matches via email, which is a big problem for drivers on-the-go.

It works fine in Mail for Macbook, and Gmail in my Chrome browser.

Please can we fix so the links are visible in all mobile versions?

[2017-05-20 20:57] jkbits1 commented on #146
@sasjkia this relates to this https://github.com/voteamerica/voteamerica.github.io/issues/283 This functionality did exist, but was broken due to db changes

I've assigned myself to fix it

[2017-05-20 20:58] sasjkia opened #149 "Rider does not currently receive a confirmation when cancelling a ride request via email"
When cancelling a ride request via email link, it redirects to a browser page. But the rider doesn't receive a confirmation notification via email or SMS.

Please add a ride request cancellation email (and SMS notification, where appropriate).

SMS link cancellations render appropriate notifications

[2017-05-20 21:02] sasjkia commented on #149
Oh - looks like they were just delayed...

[2017-05-20 21:02] #149 closed

[2017-05-20 21:17] sasjkia opened #150 "Change email confirmation text for driver cancellation"
Please change

"If you can no longer drive [**driver** name], please let **us** know..."

to

"If you can no longer drive [**rider** name], please let **the rider** know..."

[2017-05-20 22:21] jkbits1 commented on #140
@sasjkia can we quickly review which to remove and which to keep, please?

Definite removals - rider name, rider phone, rider email.

However, what about the following :
rider collection - this currently is the zip code plus the address. Presumably address is to be removed, but not the zip?
rider drop off - same question as for rider collection
rider contact method, notes - currently both preferre

[2017-05-20 22:27] sasjkia commented on #140
@jkbits1  - hassan proposed a solution to strip only the street/apartment numbers from the address but keep the street name as well as zip: https://github.com/datamade/usaddress

[2017-05-20 22:29] sasjkia commented on #140
@jkbits1 - hassan schroeder proposed a resource to remove the apartment number and street number but keep the street name and zip: https://github.com/datamade/usaddress

this would be better because zip codes can be pretty big in some places.

[2017-05-20 23:46] jkbits1 commented on #140
@sasjkia thanks for the feedback. On this page, the node app provides the zip and address as separate fields, so there is no processing to be done. It's easy to remove the address and show the zip only.

The same applies to the contact method and notes, it's straightforward to display either of these on their own if we want to do that.

[2017-05-21 00:17] jkbits1 commented on #140
@sasjkia thanks for this. That sort of complex processing of the address is not possible for an immediate fix. Hassan's suggestion is a Python library, so it doesn't naturally blend in with either the node app or the browser, which both use JS.

We can either leave this open and involve Richard on processing the address, or make some immediate changes based on the information currently provided to

[2017-05-21 13:57] sasjkia commented on #140
@jkbits1 i thing this brings us back to the point that this could be a frontend issue. i suggested that we split the apt name and street number at user input stage. we shouild have a new ux person starting next week. i suggest we see what they say.

[2017-05-21 17:29] jkbits1 commented on #140
@sasjkia Fine. I've removed the high priority tag and added a Pending review tag

[2017-05-21 17:37] jkbits1 commented on #132
@sasjkia from reading the discussion above, it looks like this can be closed.

[2017-05-21 17:37] #131 closed

[2017-05-21 17:39] #118 closed

[2017-05-21 17:39] #110 closed

[2017-05-21 17:42] #107 closed

[2017-05-21 17:42] #89 closed

[2017-05-21 17:45] #132 closed

[2017-05-21 18:20] jkbits1 commented on #146
@sasjkia I’m working on fixing this now. This issue, also
https://github.com/voteamerica/voteamerica.github.io/issues/283
https://github.com/voteamerica/voteamerica.github.io/issues/263
https://github.com/voteamerica/voteamerica.github.io/issues/257
occurred due to unilateral changes to the db code/node app made without sufficient testing of their impact.

It is exactly due to this and similar sit

[2017-05-21 20:57] richardwestenra commented on #144
btw I noticed recently that we added a form checkbox for users to indicate whether their phone number is a mobile. However it might be possible to do it programmatically instead, and avoid users having to specify. Twilio provide and API for this: https://www.twilio.com/lookup

[2017-05-21 20:59] sasjkia opened #152 "Change all mentions of phone number in notifications"
Pls change to 540-656-9388

This is our new number

[2017-05-22 21:55] #130 closed

[2017-05-22 21:55] #146 closed

[2017-05-28 15:10] sasjkia opened #155 "Change site from http to https"

[2017-05-28 15:11] sasjkia commented on #140
@kylejcrawford do you have any thoughts on a frontend solution for this?

[2017-05-28 15:55] kylejcrawford commented on #140
It seems like the potential for confusion or bad matches is stemming from too vague of information at the driver signup. And that is coming to light and causing ambiguity at the match detail stage. So rather than the driver inputting a zip code and mileage radius as the criteria for rides (current state), it seems like they should be inputting address and mileage radius. Then, as long as we can ca

[2017-05-28 19:34] kylejcrawford opened #156 "Change email sender name to "Carpool Vote""
Currently, the sender name on emails is 'noreply' which makes people less likely to open/trust. (may play role in emails being sent to spam folders as well).

No need to change the email address, just the Sender Name.

[2017-05-28 21:13] kylejcrawford opened #157 "Change driver Ride Offer confirmation email copy"
The goal of these edits is to make this first communication more user-friendly, so it's clear and feels comfortable.......(example of what the updated email should look like attached).

Please revise the email using the below format....

Hi {First Name},

Thank you for offering to drive people to vote!

We received your offer and are working on finding somebody who needs a ride when you are availa

[2017-06-02 02:25] sasjkia opened #159 "Strange error message"
Not sure what caused this, and I can't replicate. Does this mean we're able to submit a form with a problematic radius?

![image](https://cloud.githubusercontent.com/assets/19363959/26708290/f0deed22-4718-11e7-93aa-30172520d32e.png)

[2017-06-02 02:25] sasjkia commented on #159
cc @richardwestenra

[2017-06-02 02:39] sasjkia commented on #159
Looks like "0" is considered invalid input for driver radius

[2017-06-02 02:44] sasjkia commented on #140
Whilst we wait to find a solution for the address, please can we still remove the rider's name, email, phone number from the initial notification?

[2017-06-02 02:45] sasjkia commented on #140
@kylejcrawford the issue re confusion has been addressed by tweaking the flexibility in the matching algorithm. I think we should leave the zip+radius feature as is for now.

[2017-06-03 15:45] sasjkia commented on #128
@kylejcrawford

[2017-06-03 15:46] sasjkia commented on #137
@kylejcrawford this is one of the issues that can get quite confusing for users.

[2017-06-03 15:46] sasjkia commented on #129
@kylejcrawford

[2017-06-03 15:48] sasjkia commented on #152
Is anyone taking care of this? Platform is not really usable of riders don't get right contact details through SMS notifications?

[2017-06-03 15:54] sasjkia commented on #148
Looks like this has been resolved? Can I close?

[2017-06-03 15:55] sasjkia commented on #147
@kylejcrawford links in the text messages are an ongoing discussion. What do we include? How do we format them?

[2017-06-04 19:13] sasjkia commented on #144
@richardwestenra that would be ideal! @dmilet is this something we can do from the backend?

[2017-06-04 22:19] dmilet commented on #144
As per twilio, checking connection type (landline vs mobile I guess) is chargeable. Do we want to do this with every phone number?

There are voip solutions that allow for SMS, and also carriers which are replacing landlines as fast as they can with voip without telling their customers.

Maybe we should have two input fields, one for home phone, one for mobile phone, with the assumption that mobil

[2017-06-04 22:42] sasjkia commented on #144
@dmilet let's keep this on the frontend for now, then. We do say that cell phones are preferred, so hopefully this is enough. Perhaps @kylejcrawford has a UX view on this?

@dmilet please could the number one priority right now be to ensure that rider phone number and email address details do not go to the driver before they have accepted the match?

[2017-06-04 23:30] dmilet commented on #144
Looking at code for outbound notifications, I don't see RiderPhone or RiderEmail being sent to the Driver until after the driver accepts the match
Can you please confirm where you're seen it?

[2017-06-04 23:55] sasjkia commented on #144
Thanks for checking @dmilet. What about through email notifications? I got one with these details just a few days ago.

[2017-06-05 00:09] sasjkia opened #160 "Strip all test cases from database"
I've been using the live site for testing. All entries have "TEST" as part of the name.

[2017-06-05 01:46] sasjkia opened #161 "Email links allow for multiple cancellations of ride request"
When a rider clicks the "Cancel this ride request" link in the email notification, they receive email/email and SMS notifications.

When the click the link again, they receive the same notifications. This goes on and on. It is unclear whether the request has actually been canceled or not.

[2017-06-05 02:02] sasjkia commented on #160
I've canceled all these, but they still appear on the map.

[2017-06-05 12:43] dmilet commented on #160
I changed them to Canceled manually

On Mon, Jun 5, 2017 at 10:02 AM, Sasjkia Otto <notifications@github.com>
wrote:

[2017-06-05 12:47] dmilet commented on #161
I can reject Cancel requests in case the status is already Cancel or Expired
But not today, not if you have a demo soon
I'm too jetlagged to trust what I write today

On Mon, Jun 5, 2017 at 9:46 AM, Sasjkia Otto <notifications@github.com>
wrote:

[2017-06-05 12:58] dmilet commented on #144
I don't see any

On Mon, Jun 5, 2017 at 7:55 AM, Sasjkia Otto <notifications@github.com>
wrote:

[2017-06-05 13:02] dmilet commented on #159
valid range : 0 < radius < 100

Let me know if I need to change that
Last time we discussed this, we said a radius of 0 makes no sense

[2017-06-05 13:36] sasjkia commented on #159
Radius of 0 implies only within the zip code, so would be good to change at some point but this is not a priority right now.

[2017-06-06 01:32] sasjkia opened #163 "Driver receives proposed matches after drive offer has been cancelled"
Canceled drive offer via email at 9.20.

Received proposed match at 9.25.

UUID: 9352bbc8-09c7-4342-8f67-22d00b82cd20

[2017-06-06 01:57] sasjkia opened #164 "Please remove rider contact details from driver self-service portal until the driver has accepted the match"
Currently, rider contact details are visible in the self-service portal before a drive has accepted a proposed match. These must only become visible once the driver has accepted the match.

[2017-06-06 01:58] sasjkia commented on #164
@dmilet @jkbits1 this is an urgent one. Is either of you free to take care of this tomorrow?

[2017-06-06 02:19] sasjkia opened #165 "Clicking "Cancel drive offer" button in self-service portal results in funny text but no indication that the offer has been cancelled"

[2017-06-06 11:24] dmilet commented on #164
@jkbits1 I think this is on the front end code, selfservice.js, lines
496         $(listSelector).append('<li class="match-info-item">  rider phone - ' + val.driver_proposed_matches.RiderPhone + '</li>');
    497         $(listSelector).append('<li class="match-info-item">  rider email - ' + val.driver_proposed_matches.RiderEmail + '</li>');

Can you confirm and make the change?
If I'm not mistake

[2017-06-06 11:39] dmilet commented on #163
Confirmed.... I need to look at it
[david.milet@carpoolvote1 db]$ ./show_driver_by_uuid.sh 9352bbc8-09c7-4342-8f67-22d00b82cd20
carpool_live
Driver Details
                 UUID                 | DriverLastName | DriverPhone |         DriverEmail         | status  | status_info |         created_ts         |      last_updated_ts       | DriverCollectionZIP | DriverCollectionRadius | DriverCanLoadR

[2017-06-06 15:40] sasjkia opened #166 "Driver is receives proposed match from rider after the rider has cancelled the ride request"
![image](https://user-images.githubusercontent.com/19363959/26837989-e04b9202-4aac-11e7-971a-30cc4b304d88.png)

[2017-06-06 16:43] jkbits1 commented on #164
@sasjkia this is a duplicate of https://github.com/voteamerica/backend/issues/140 which was placed under review shortly after being created

[2017-06-06 16:45] jkbits1 commented on #140
@sasjkia now this has been agreed, will change this

[2017-06-06 17:39] #140 closed

[2017-06-06 17:39] #164 closed

[2017-06-06 18:40] jkbits1 commented on #165
@sasjkia if at all possible, details of the "funny text" are very helpful in reproducing the issue 😄 this issue is part of https://github.com/voteamerica/voteamerica.github.io/issues/258. The cancellation has worked, and the driver is no longer shown either proposed or confirmed matches.

It's a good point about the lack of indication 👍 I'll add something to the driver info to show when their stat

[2017-06-06 19:43] sasjkia commented on #165
![image](https://user-images.githubusercontent.com/19363959/26848582-f3185d44-4ace-11e7-80f2-ae3405def3c3.png)

[2017-06-06 19:44] sasjkia commented on #165
that's the funny text :D

[2017-06-06 20:45] jkbits1 commented on #165
thanks 😄 that's the funny text I first thought of, but couldn't reproduce. This should be something that I've fixed recently.

I've checked just now on the test system and the behaviour is the cryptic behaviour in the issue mentioned above, not the funny text 😄 . The test system has recently been updated, so that might explain the difference.

Or is this a live system thing? Either way, I'll make

[2017-06-06 22:36] kylejcrawford commented on #144
I'll set up a rider and driver match to see how things are looking currently.

And I'll use that experience to think through the phone number input issue a bit more, and report back.

[2017-06-06 22:42] sasjkia commented on #166
This is a bit of an issue for the demo because it's impossible to test any rider-driver set... even if you cancel the ride request, the driver's next proposed match email will contain 2 of the same address 😱

[2017-06-06 23:08] kylejcrawford commented on #129
@sasjkia A few initial questions:

- To what extent do we know drivers are looking for something like this?  Because they will be communicating with riders via a separate platform (either SMS or email), how likely is it that they log back into the portal in order to add notes? Might they track ride order another way (like just adding each person at certain times on their calendar)?

If it is expec

[2017-06-06 23:15] kylejcrawford commented on #137
@sasjkia So I understand...when you click "Accept" link in the email, it sends you to a page with weird text? Or they receive an email with the weird text?

[2017-06-06 23:38] jkbits1 commented on #166
@sasjkia probably a bit tricky to patch this in time for the demo 😞

[2017-06-06 23:48] dmilet commented on #166
what time is the demo?
I have a fix

On Wed, Jun 7, 2017 at 7:38 AM, Jon Kelly <notifications@github.com> wrote:

[2017-06-06 23:50] dmilet commented on #166
fix is on test environment, I can load it on live if you can confirm your
demo scenario works on test

On Wed, Jun 7, 2017 at 7:48 AM, David Milet <david.milet@gmail.com> wrote:

[2017-06-06 23:56] jkbits1 commented on #166
@sasjkia @dmilet fix looks good

[2017-06-08 00:29] jkbits1 opened #169 "Self-service page - Pause Driver Match Request button has permanent effect"
@sasjkia @dmilet I'm generally reluctant to propose new functionality, but is the current pause behaviour what we want (aside from renaming the button btw)?

The pause button (together with node app and db) does stop notifications. However, it's not a "pause" as there is no node app/db functionality to resume notifications. So it's a "stop" button 😄

On my local docker compose setup, if I toggle t

[2017-06-08 14:08] dmilet commented on #169
There is also issue #112, there is mention of a need for a resume button.
It's mentioned also that the Cancel action should be removed, as it is equivalent to a permanent Pause

I can get the db side done this week end if we want to go forward with this

[2017-06-18 19:21] #165 closed

[2017-06-26 19:20] gmisura commented on #166
This still open?

[2017-06-26 19:30] jkbits1 commented on #166
@gmisura hi there, thanks for the interest @sasjkia @dmilet is this still an issue?

[2017-06-30 19:29] jkbits1 commented on #152
@sasjkia I'm closing this as there has been a patch and no further comments have been made since then. Re-open or create a new issue if there are still problems

[2017-06-30 19:29] #152 closed

[2017-06-30 19:32] jkbits1 commented on #106
@sasjkia I'm closing this as there have been patches and no comments since then

[2017-06-30 19:32] #106 closed

[2017-06-30 19:35] jkbits1 commented on #103
fixed by #115

[2017-06-30 19:35] #103 closed

[2017-06-30 19:37] jkbits1 commented on #75
@dmilet agreed

[2017-06-30 19:37] #75 closed

[2017-06-30 19:45] jkbits1 commented on #128
@sasjkia @richardwestenra @dmilet I understand the concerns behind this, but this change requires a new page. That new page will have to support all the behaviour of the add rider/driver pages. There will be backend work, too.

From the point of view of the driver and rider, they may have agreed to offer/accept a ride based on the original data provided. Currently, this situation can be managed by

[2017-06-30 19:47] #160 closed

[2017-06-30 19:48] #159 closed

[2017-06-30 19:59] jkbits1 commented on #166
@gmisura I think this has been resolved.

You are welcome to take a look at https://github.com/voteamerica/backend/issues/163
Bear in mind that issues like these involve the entire system. Sometimes the issue isn't totally clear whether it's web page or email/sms issue. The docker setup doesn't send emails or sms messages, so these issues involve looking at the db tables for "outgoing_email" and "

[2017-06-30 19:59] #166 closed

[2017-06-30 20:12] jkbits1 commented on #161
@sasjkia I've tested this and the email seems clear now that the request has been cancelled. There are multiple emails but this doesn't seem unreasonable.

I'm closing this. However, as the test system doesn't seem to be sending emails, I'm presuming this behaviour is occurring based on the db entries. If that is incorrect, or you feel that multiple emails are unhelpful, please re-open or open a n

[2017-06-30 20:12] #161 closed

[2017-11-04 10:19] richardwestenra opened #188 "[Email] Prevent emails getting put into Gmail spam folders"
Our emails are getting sent to user's spam folders in Gmail:
![image](https://user-images.githubusercontent.com/1155816/32404360-0651d49c-c146-11e7-8cb8-f6e0164b2ce2.png)

Here are some guides with info on how to prevent this:
- https://fulcrumtech.net/resources/avoiding-gmail-spam-filter/
- https://mailchimp.com/resources/guides/avoid-spam-filters/

## Recommendations:

- [ ] Provide an unsubscri

[2017-11-12 18:31] jkbits1 commented on #188
@richardwestenra thanks for creating this issue and proving clear, specific, guidelines. The emails are one of the trickier parts of the system, as the html for them is generated by the postgresql scripts. This work may need to be done as a group effort. I can provide general assistance, but am reluctant to take on the full task

[2017-11-25 20:47] PamelaJohn opened #192 "Driver Unable to Edit Cell Number"
Per  @acqsysandrea:

@acqsysandrea received this email:

[Please ping me @pamela on the ProgCode Slack for the redacted personal data.]

[2017-11-26 18:05] jkbits1 commented on #192
@PamelaJohn thanks for raising this. It's an important point, but for the December elections it will still be delete and resubmit. Unless there are other contributors who have both suggestions and coding skills!

[2017-11-26 21:32] PamelaJohn commented on #192
Thanks Jon! Just transferring issues brought up in ProgCode Slack over to the repo so they're in the same spot.

@acqsysandrea, please see @jkbits1 comment, above.

[2018-07-31 09:38] dmilet opened #197 "Docker and compose commands require sudo on linux"
All scripts under docker directory need update

[2018-07-31 09:42] dmilet opened #198 "Provide docker setup to deploy on new DO VM"
New DO VM needs to be deployed
Docker containers will be used for backend elements

[2018-07-31 11:54] dmilet commented on #197
https://github.com/voteamerica/backend/pull/199

[2018-08-01 01:40] dmilet opened #200 "uuid_organization should be allowed to be null"

[2018-08-01 02:01] dmilet commented on #200
issue closed. PR merged into master

[2018-08-01 02:01] #200 closed

[2018-08-07 10:47] dmilet commented on #197
Fixed and merged

[2018-08-07 10:47] #197 closed

[2018-08-07 10:48] dmilet commented on #198
https://github.com/voteamerica/backend/pull/196

[2018-08-07 10:50] dmilet commented on #155
This is a front end issue
https://github.com/voteamerica/voteamerica.github.io/issues/370

[2018-08-07 10:50] #155 closed

[2018-08-25 19:35] dmilet opened #206 "operator table not aligned with submit_new_user function"
--
-- Name: operator; Type: TABLE; Schema: carpoolvote; Owner: carpool_admins
--

CREATE TABLE operator (
    "UUID" character varying(50) DEFAULT gen_random_uuid() NOT NULL,
    "email" character varying(250) NOT NULL,
    "username" character varying(250) NOT NULL,
    "password" character varying(250) NOT NULL,
    "admin" boolean NOT NULL,
    "UUID_organization" character varying(50)
);

But

[2018-08-25 19:37] dmilet commented on #206
@jkbits1   Jon, I think we should rename the function submit_new_user to submit_new_operator and align with the table.
What values do you pass from the front end ?

[2018-08-25 22:41] dmilet commented on #206
would tb_user be ok ? It will be transparent to you as I'll update the submit_new_user function as well

LIVE=# \d+ carpoolvote.tb_user;
                                                  Table "carpoolvote.tb_user"
      Column       |          Type          | Collation | Nullable |      Default      | Storage  | Stats target | Description
-------------------+------------------------+-----------+-

[2018-08-25 22:44] jkbits1 commented on #206
@dmilet that sounds great, thanks 👍 if you create a PR for that, I'll either merge it when I see it or you can simply merge it straight away

[2018-08-26 11:15] #198 closed

[2018-08-26 11:16] dmilet commented on #198
docker setup is available

[2018-08-26 20:02] jkbits1 commented on #198
@dmilet this is great work 🎉 I only noticed yesterday this issue was still open after the PR was merged but didn't close in case you had other steps planned

[2018-09-18 21:14] jkbits1 commented on #206
@dmilet looks like we tidied up everything we needed to, so closing this

[2018-09-18 21:14] #206 closed

[2018-09-18 21:15] jkbits1 commented on #138
@sasjkia with the revised focus on operators and supporting their use of the system, this is no longer so relevant. We can re-open if necessary

[2018-09-18 21:15] #138 closed

[2018-09-18 21:17] jkbits1 commented on #137
@sasjkia I'm closing this as emails are likely to be simpler as the system focus shifts to the operator. It can be re-opened if necessary

[2018-09-18 21:17] #137 closed

[2018-09-18 21:20] jkbits1 commented on #72
@dmilet I'm tempted to close this as the system is planned to be more focused on operators and less on drivers/riders receiving emails. On the other hand, the system still sends emails and they seem useful

[2018-09-18 21:27] jkbits1 commented on #144
@sasjkia I'm closing this. SMS messages are being sent using the twilio non-profit support amount and the developer/design time is needed elsewhere. This issue can be re-opened if this situation changes

[2018-09-18 21:27] #144 closed

[2018-09-18 21:29] jkbits1 commented on #128
@sasjkia the new operator focus of the system means this issue is less of a priority, so I'm closing. Re-open if you want later

[2018-09-18 21:29] #128 closed

[2018-09-18 21:31] jkbits1 commented on #129
@sasjkia the new operator focus of the system means this issue is less of a priority, but it's not so hard to do so I'll add a low priority label

[2018-09-18 21:32] #148 closed

[2018-09-18 21:36] jkbits1 commented on #192
@PamelaJohn with the revised system focus on operators, this may be dealt with by related changes. The work-around above isn't ideal, but exists. Changing labels to reflect this

[2018-09-18 21:38] jkbits1 commented on #147
@sasjkia I'm closing as the system focus around operators means work on emails is less of a priority. We can re-open later if you want

[2018-09-18 21:38] #147 closed

[2018-09-18 21:39] jkbits1 commented on #142
@sasjkia I'm closing as the system focus around operators means work on emails is less of a priority. We can re-open later if you want

[2018-09-18 21:39] #142 closed

[2018-09-18 21:40] jkbits1 commented on #150
@sasjkia I'm closing as the system focus around operators means work on emails is less of a priority. We can re-open later if you want

[2018-09-18 21:40] #150 closed

[2018-09-18 21:41] jkbits1 commented on #145
@sasjkia I'm closing as the system focus around operators means work on emails is less of a priority. We can re-open later if you want

[2018-09-18 21:41] #145 closed

[2018-10-01 05:19] jonoxia commented on #188
Hi, I would like to help contribute to this project. Is this still a live issue? (The ticket is a year old) If so, I can work on it.

[2018-10-02 00:41] jkbits1 commented on #188
@jonoxia we are focusing less on sending emails to individuals now so this is less important but your support is appreciated. You are very welcome to join the slack channel where we will be creating some new issues soon 👍

[2018-10-20 18:32] jkbits1 commented on #188
@jonoxia apologies for the slow response. I’m not sure who’s accepting invites for the Slack channel. You’re very welcome to join us at the partner Slack channel, Carpool Action, although you’ll need to sign up for the Progressive Coders organisation first, at http://progco.de/join

[2018-10-20 18:36] jkbits1 commented on #188
@jonoxia I'm not sure if this suits your skills but a front-end issue https://github.com/voteamerica/voteamerica.github.io/issues/406 has just been added.

[2018-10-27 00:42] jkbits1 opened #228 "Comment on github Cryptiles security issue - waiting on Hapijs to be updated"
The package 3.1.2 is a dependency of hapi 16.6.3 - a supported and maintained version of hapi (not 17, which is the latest).

This seems reasonably benign in the short term - and we are not using the affected function call directly. Hapijs haven't issued a warning on this themselves.

The only resolution available currently is to update to v17, which is a fairly hefty breaking change.

If there ar

[2018-10-27 19:41] #157 closed

[2018-10-27 19:41] #72 closed

[2018-10-27 19:42] #129 closed

[2018-10-27 20:28] jkbits1 commented on #141
This may be possible for the self-service page prior to mid-terms, otherwise it's after that. Or, less relevant due to the role of operators

[2018-11-06 11:52] jkbits1 commented on #141
Done for self-service portal

[2018-11-07 01:40] jkbits1 commented on #139
Fixed by https://github.com/voteamerica/voteamerica.github.io/pull/422

[2018-11-07 01:40] #139 closed

[2019-09-14 06:08] workingjubilee opened #248 "Expired TLS Certificate on api.carpoolvote.com"
It looks like the Certbot configuration (since it's a Let's Encrypt cert, and I see at least a few references to Certbot in the code) is somehow awry or incomplete.